*{
	
	font-family: 'Microsoft Yahei';
    
}
body{
	background-color: #e7e6e6;
}
#header{
	width:100%;
	height: 93px;
	line-height: 93px;
	background-color: #ffbe19;
	text-align: center;
	color:white;
	margin-bottom: 10px;
	
}
#header a{
	display: inline-block;
	
	
	width:1.2rem;
	font-size: 1rem;
	float: left;
	margin-left: 1%;
	margin-top: 32px;
}
#header img{
	/*float:left;*/
	width:1rem;
    
}
#title{
	width:100%;
	height:330px;
	background-color: white;
	font-size: 0.8rem;
	margin-bottom: 10px;

}

#box{
	width:98%;
	height:70px;
	margin: 0 auto;
	color:#d6d6d6;
	border-bottom-style:dotted;
  
}
#p_wrapper{
	width:98%;
	margin: 0 auto;
	
}
#p_wrapper #theme{
   margin-top: 40px;
   font-size: 1rem;
}
#id{
	display: inline-block;
	line-height: 70px;
	color:black;
	font-size: 1rem;
}
#detail{
	float: right;
	display: inline-block;
	line-height: 70px;
	margin-left: 1%;
	font-size: 1rem;
}
#content{
	font-size: 1.4rem;
	color: #4da5ff;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 25px;
}
#name{
	font-size: 1rem;
	margin-left: 10px;
	color:#666666;
}
#person_logo{
	width:1rem;
}
#person{
	color:#ffbe19;
}
.time{
	font-size: 1rem;
	line-height: 1rem;
	color:#666666;
	margin-top: 15px;
}
#form_outer{
	width:100%;
	height:130px;
	
	background-color: white;
}
#form_wrapper{
	width:98%;
	height:130px;
    font-size: 1rem;
	margin: 0 auto;
	margin-left: 1%;
	padding-top: 15px;
}	
input{
	width:75%;
	height:20px;
	margin-bottom: 15px;
}
#more{
	margin-top: 10px;
	width:98%;
	height:150px;
	padding: 1%;
	background-color: white;
	margin-bottom: 20px;
}
#more_detail{
	font-size: 1.5rem;
	margin-bottom: 10px;
	color:#666666;
}
textarea{
	width:98%;
	margin: 0 auto;
	height:80px;
	color:#666666;
	padding:5px;
}
#join_img{
	display: inline-block;
	width:50%;
	margin-left:25%;
	margin-bottom: 40px;
}
